<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<body>

<!-- Navigation -->
<nav class="w3-bar w3-black">
  <a href="/" class="w3-button w3-bar-item">Home</a>
  <a href="/login" class="w3-button w3-bar-item">Login</a>
  <a href="/abstract" class="w3-button w3-bar-item">Abstract</a>
 
</nav>

<!-- Slide Show -->
<section style="width:100%; height:50%; ">
  <img class="mySlides" src="static/img/cvr.jpg">
  <img class="mySlides" src="static/img/cvr1.jpg">
  <img class="mySlides" src="static/img/cvr2.jpeg">
</section>

<!-- Band Description -->
<section class="w3-container w3-center w3-content" style="max-width:600px">
  <h2 class="w3-wide">Abstract</h2>
  <p class="w3-opacity"><i>Read Content</i></p>
  <p class="w3-justify">Phishing attacks, utilizing a novel method to detect phishing attacks by leveraging machine learning techniques, with a focus on URLs. Our approach incorporates Natural Language Processing (NLP) ensemble methods alongside hybrid machine learning models. We utilize a dataset containing both phishing and legitimate URLs, preprocess the data, and extract relevant features. Through techniques such as Canopy feature selection and Grid Search Hyperparameter Optimization, we enhance the accuracy and efficiency of our models. Evaluation metrics including precision, accuracy, recall, F1-score, and specificity demonstrate the efficacy of our approach. Comparative analysis indicates that our hybrid machine learning system, integrating NLP, outperforms existing models, offering robust defense against phishing threats and enhancing cybersecurity.</p>
</section>


<script>
// Automatic Slideshow - change image every 3 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 3000);
}
</script>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
  <a href="#"><i class="fa fa-facebook-official"></i></a>
  <a href="#"><i class="fa fa-pinterest-p"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-flickr"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
</footer>
<style>
 .mySlides {
  width: 100%;
  height: 50%;
}
</style>

</body>
</html>
